<%- include("partials/header2") %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Oh Snap!!</h1>
    <p class="lead">Something went wrong somewhere. Please go back and try again</p>
    <a href="index.ejs" class="btn btn-outline-primary">Try Again</a>
  </div>
</div>
<%- include("partials/footer") %>
