<%- include("partials/header2") %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Success</h1>
    <p class="lead">Your message was received. I will reply you shortly(Your E-mail). Thank you.</p>
    <a href="/" class="btn btn-outline-primary">Wanna find out more?</a>
  </div>
</div>
<%- include("partials/footer") %>
